SQL VS Pandas
- SELECT
- DISTINCT
- WHERE
- NOT
- AND / OR
- IN
- LIKE
- ORDER BY
- GROUP BY
    - COUNT
    - SUM
    - AVG
- RANK
- RANK + PARTITION BY
- DENSE
- UPDATE
- JOINS

In [ ]:
# SQL: SELECT * FROM players
# Pandas:
players

# SQL: SELECT Name, Age FROM players
# Pandas:
players[["Name", "Age"]]

# SQL: SELECT TOP 5 * FROM players
# Pandas:
players.head(5)

# SQL: SELECT DISTINCT Position FROM players
# Pandas:
players["Position"][~players["Position"].duplicated()]

In [ ]:
# SQL: SELECT * FROM players WHERE Position = 'QB'
# Pandas:
players[players.Position == "QB"]
# also:
players[players["Position"] == "QB"]

In [ ]:
# SQL: SELECT Name, Age FROM players WHERE Position = 'QB'
# Pandas:
players[["Name", "Age"]][players.Position == "QB"]

In [ ]:
# SQL: SELECT * FROM players WHERE NOT Position =='QB'
# Pandas:
players[~(players.Position == "QB")]
# also:
players[~(players["Position"] == "QB")]

In [ ]:
# SQL: SELECT Name, Age FROM players WHERE Position = 'QB' AND Age < 30
# Pandas:
players[["Name", "Age"]][(players.Position == "QB") & (players.Age < 30)]

In [ ]:
# SQL: SELECT Name, Age FROM players WHERE Position = 'QB' OR Position = 'RB'
# Pandas:
players[["Name", "Age"]][(players.Position == "QB") |(players.Position == "RB")]

In [ ]:
# SQL: SELECT * FROM players WHERE Position IN ('QB', 'RB')
# Pandas:
players[players.Position.isin(["QB", "RB"])]

In [ ]:
# SQL: SELECT * FROM players WHERE Team LIKE '%ns%'
# Pandas:
players[players.Team.str.contains("ns")]

In [ ]:
# SQL: SELECT * FROM players ORDER BY Name
# Pandas:
players.sort_values("Name")

# SQL: SELECT * FROM players ORDER BY Age, Name
# Pandas:
players.sort_values(["Age", "Name"])

# SQL: SELECT * FROM players ORDER BY Age DESC, Name
# Pandas:
players.sort_values(["Age", "Name"], ascending=[False, True])

In [ ]:
# SQL: SELECT COUNT(*) AS COUNT FROM players GROUP BY Position
# Pandas:
players.groupby("Position").agg({"Name": "count"}).rename(columns={"Name": "COUNT"})

In [ ]:
# SQL: SELECT SUM(Age) AS Age FROM players GROUP BY Position
# Pandas:
players.groupby("Position").agg({"Age": "sum"})

In [ ]:
# SQL: SELECT AVG(Age) AS Age FROM players GROUP BY Position
# Pandas:
players.groupby("Position").agg({"Age": "mean"})

In [ ]:
# SQL: SELECT *, RANK() OVER (ORDER BY Age DESC) FROM players
# Pandas:
players["AgeRank"] = players.Age.rank(ascending=False)
players

In [ ]:
# SQL: SELECT *, RANK() OVER (PARTITION BY Position ORDER BY Age DESC) FROM players
# Pandas:
players["AgeRank"] = players.groupby("Position")["Age"].rank(ascending=False)
players

In [ ]:
# SQL: SELECT *, DENSE_RANK() OVER (ORDER BY Age DESC) FROM players
# Pandas:
players["AgeRank"] = players.Age.rank(method="dense", ascending=False)
players

In [ ]:
# SQL: UPDATE players SET Age = 0 WHERE Age = 24
# Pandas:
players.lwoc[players.Age == 24, "Age"] = 0

In [ ]:
# JOINS
# => https://levelup.gitconnected.com/sql-v-pandas-join-57642dc3ce76